.Partnens-Full{
    background: black;
    padding: 80px;
}




.Partnens img{
    width: 150px;
    background: white;
    margin: 20px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}