.Found{
    color: brown;
    font-size: 30px;
    font-weight: 600;
    padding-top: 50px;
    margin-left: 100px;

}

.NotFound img {
    width: 1300px;
    height: 500px;
    margin-left: 300px;
    padding: 50px;
}